<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>App Title</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }

        .container {
            max-width: 800px;
            margin: 2rem auto;
            padding: 1rem;
            background: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        }
    </style>
</head>

<body>
    {{ .Header }}
    <div class="container">
        {{ .Counter }}
        {{ .ClientChart }}
    </div>
    <script src="{{ .StaticPrefix }}client.js" defer></script>
</body>

</html>